main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem 0 6rem;

  section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h1 {
      width: 35rem;
      font-weight: 800;
      font-size: 48px;
      line-height: 150%;
      color: $black-color;

      span {
        color: $primary-color-orange;
      }
    }

    p {
      width: 28rem;
      color: $dark-grey-color;
      font-weight: 500;
      line-height: 25px;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 215px;
      height: 62px;
      color: $white-color;
      background: linear-gradient(90deg, $primary-color-orange 0%, $secondary-color-orange 100%);
      font-weight: 600;
      border-radius: 5rem;
      box-shadow: 8px 8px 16px $shadow-color-grey, -8px -8px 16px $shadow-color-light-orange;

      p {
        width: 5rem;
        color: $white-color;
        font-weight: 600;
      }
    }
  }
}
