// colors
$white-color: #ffffff;
$bg-color-light-orange: #ebdecc;
$black-color: #161616;
$dark-grey-color: #2b2b2b;
$shadow-color-grey: #8f8f8f99;
$shadow-color-light-orange: #fff7ec;
$primary-color-orange: #f08d00;
$secondary-color-orange: #f3a02b;
$path-color-orange: #f6b356;

// font
$principal-font: "Inter", sans-serif;
